<div>

	<div>

		<div class="col-sm-8 text-center" id="leftShow">
			<div>
				<img class="thumbnail" alt="" src="{{vm.recipe.imgUrl}}">
			</div>
			<div>
				<h2>{{vm.recipe.title}}</h2>
			</div>
			<!-- <div>
	<img class="thumbnail" alt="" src="{{vm.recipe.imgUrl}}">
</div>
<div>
	<h2>{{vm.recipe.title}}</h2>
</div> -->
			<div class="">
				<h4>Ingredients:</h4>
				<ul id="list-ingredients" class="col-md-offset-4">
					<li ng-repeat="ring in vm.recipe.recipeIngredients">{{ring.quantity}}
						{{ring.ingredient.name}}</li>
				</ul>
			</div>
			<div>
				Instructions:
				<ol>
					<li
						ng-repeat="inst in vm.recipe.instructions | orderBy : 'stepNumber'">{{inst.text}}</li>
				</ol>
			</div>

		</div>

		<div class="col-sm-5 col-sm-offset-1 text-right" id="rightShow">
			<div>
				<h3>Average Rating: {{vm.recipe.avgRating | number:1}}</h3>
			</div>
			<div>
				<h5 ng-repeat="rating in vm.recipe.rating | limitTo: displayNum">
					Review: {{rating.review}} | Rating: {{rating.value | number:1}}</h5>
			</div>
			<div>
				<button ng-hide="vm.clicked" class="mybutton" id="reviewButt"
					ng-click="increaseBy(); vm.clicked=true">See more...</button>
			</div>
			
			<div>
				<button ng-show="vm.clicked" class="mybutton" id="reviewButt"
					ng-click="displayNum=1; vm.clicked=false">See fewer...</button>
			</div>
			
			<div>
				<button class = "mybutton" id="reviewButt"
					ng-click="vm.backButton()">Back To List</button>
				<br> <label>Favorite<input type="checkbox"
					ng-model="vm.recipe.isFav" ng-change="vm.updateFavorites(vm.recipe)" /></label>
			</div>

			<div>
				<form id="reviewRecipeForm">
					<label for="reviewRecipeForm">Leave a review:</label> <input
						type="text" placeholder="Rate(1-5)"
						ng-model="vm.recipeRating.value" /> <input type="text"
						placeholder="Write a review" ng-model="vm.recipeRating.review" />
					<input class="btn btn-default" id="reviewButt" type="submit"
						value="Submit"
						ng-click="vm.createRating(vm.recipe,vm.recipeRating); vm.recipeRating = {}" />
				</form>
			</div>
		</div>
		</div>
		</div>