<div class="container">

	<div class="row">

		<div class="col-sm-8 text-center" id="leftShow">
			<div>
				<img class="thumbnail" alt="" src="{{vm.recipe.imgUrl}}">
			</div>
			<div>
				<h2>{{vm.recipe.title}}</h2>
			</div>
			<!-- <div>
	<img class="thumbnail" alt="" src="{{vm.recipe.imgUrl}}">
</div>
<div>
	<h2>{{vm.recipe.title}}</h2>
</div> -->
			<div class="">
				<h4>Ingredients:</h4>
				<ul id="list-ingredients" class="col-md-offset-4">
					<li ng-repeat="ring in vm.recipe.recipeIngredients">{{ring.quantity}}
						{{ring.ingredient.name}}</li>
				</ul>
			</div>
			<div>
				Instructions:
				<ol>
					<li
						ng-repeat="inst in vm.recipe.instructions | orderBy : 'stepNumber'">{{inst.text}}</li>
				</ol>
			</div>

		</div>

		<div class="col-sm-4 text-center" id="rightShow">
			<div>
				<h4>Rating: <span uib-rating ng-model="vm.recipe.avgRating" max="vm.max"
							read-only="vm.isReadOnly"></span>{{vm.recipe.avgRating | number:1}} stars</h4>
			</div>
			<div>
				<h5 ng-repeat="rating in vm.recipe.rating | limitTo: displayNum">
					{{rating.review}} | <span uib-rating ng-model="rating.value" max="vm.max"
							read-only="vm.isReadOnly"></span>{{rating.value | number:1}} stars</h5>
			</div>
			<div>
				<button ng-hide="vm.clicked" class="mybutton" id="reviewButt"
					ng-click="increaseBy(); vm.clicked=true">See reviews...</button>
			</div>
			
			<div>
				<button ng-show="vm.clicked" class="mybutton" id="reviewButt"
					ng-click="displayNum=0; vm.clicked=false">Hide reviews...</button>
			</div>
			
			<div>
				<button class = "mybutton" id="reviewButt"
					ng-click="vm.backButton()">Back To List</button>
				<br> <label>Favorite <input type="checkbox"
					ng-model="vm.recipe.isFav" ng-change="vm.updateFavorites(vm.recipe)" /></label>
			</div>

			<div>
				<form id="reviewRecipeForm">
					<label for="reviewRecipeForm">Leave a review:</label> <input
						type="text" placeholder="Rate(1-5)"
						ng-model="vm.recipeRating.value" /> <input type="text"
						placeholder="Write a review" ng-model="vm.recipeRating.review" />
					<input class="btn btn-default" id="reviewButt" type="submit"
						value="Submit"
						ng-click="vm.createRating(vm.recipe,vm.recipeRating); vm.recipeRating = {}" />
				</form>
			</div>
		</div>
		</div>
		</div>