
<div><img alt="" src="{{vm.recipe.imgUrl}}"></div>
<div><h2>{{vm.recipe.title}}</h2></div>
<div>
Ingredients:
	<ul>
		<li ng-repeat="ring in vm.recipe.recipeIngredients">{{ring.quantity}} {{ring.ingredient.name}}</li>
	</ul>
</div>
<div>
Instructions:
	<ol>
		<li ng-repeat="inst in vm.recipe.instructions | orderBy : 'stepNumber'">{{inst.text}}</li>
	</ol>
</div>
<div>
	<h3>Rating: {{vm.recipe.avgRating | number:1}}</h3>
</div>
<div>
	<button ng-click="vm.backButton()">Back To List</button>
	<label>Favorite<input type="checkbox" ng-model="vm.favorite" 
		ng-change="vm.updateFavorites(vm.recipe)"/></label>
</div>