<h1>Profile</h1>

<form>
	<input type=text placeholder="First Name" ng-model="user.firstName" />
	<input type="text" placeholder="Last Name" ng-model="user.lastName" />
	<input type="number" placeholder="Age" ng-model="user.age" />
	<input type="number" placeholder="Weight" ng-model="user.weight" />
	<input type="text" placeholder="City and State" ng-model="user.location" />
	<input type="text" placeholder="Profile Pic URL" ng-model="user.profilePic" />
	<input type="submit" value="Submit" ng-click="vm.createProfile(user)"/>
</form>
