<h1>Profile</h1>

<form>
	<input type=text placeholder="First Name" ng-model="profile.firstName" />
	<input type="text" placeholder="Last Name" ng-model="profile.lastName" />
	<input type="number" placeholder="Age" ng-model="profile.age" />
	<input type="number" placeholder="Weight" ng-model="profile.weight" />
	<input type="text" placeholder="City and State" ng-model="profile.location" />
	<input type="text" placeholder="Profile Pic URL" ng-model="profile.profilePic" />
	<input type="submit" value="Submit" ng-click="vm.createProfile(profile)"/>
</form>
