<div class="container">
<div class="row">
<div class="col-md-6">
<form id="createRecipeForm">
	<div class="form-group">
		<h3>Create a recipe:</h3> <input
			type="text" class="form-control" placeholder="Recipe Name"
			ng-model="vm.recipe.title" />
	</div>
	<div class="form-group">
		<input type="text" class="form-control"
			placeholder="Post an image url" ng-model="vm.recipe.imgUrl" /><br>
	</div>

	<div class="input-group">
		<input type="text" class="form-control" placeholder="Quantity"
			ng-model="vm.recipe.ingredients[0].quantity" />
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Ingredient"
			ng-model="vm.recipe.ingredients[0].name" /><br>
	</div>
	
	<div ng-repeat="item in vm.ingredientArray">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Quantity"
				ng-model="vm.recipe.ingredients[item.num].quantity" />
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Ingredient"
				ng-model="vm.recipe.ingredients[item.num].name"/>
				<span class="input-group-addon">
					<button ng-click="vm.removeIng()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					</span>
				<br>
		</div>
	</div>
	

	<button class="mybutton" ng-click="vm.ingredientInput()">Add Ingredient</button>

	<div class="form-group">
		<input type="text" class="form-control" placeholder="Instructions"
			ng-model="vm.recipe.instructions[0].text"  />
	</div>
	
	<div ng-repeat="item in vm.instructionArray">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Instruction"
					ng-model="vm.recipe.instructions[item.num].text" />
					<span class="input-group-addon">
					<button ng-click="vm.removeInst()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					</span>
				</div>
				<br>
	</div>
	
	<button class="mybutton" ng-click="vm.instructionInput(); vm.addStepNumber();">Add Step</button>

	
	<div ng-repeat="tag in vm.tags">
 		<input type="checkbox" ng-model="tag.selected">{{tag.name}}</input>
 	</div> 
	
	<div>
 		<input type="text" placeholder="New Tag" ng-model="vm.tagName"/>
 	</div> 
 	
	<input type="submit" class="mybutton" value="Add"
		ng-click="vm.createTag(vm.tagName); vm.createRecipe(vm.recipe); vm.recipe={}" />

</form>
</div>
</div>
</div>