<div ng-hide='vm.loginChecker()'>
	<h3>Please login if you want to view profile</h3>
</div>

<div ng-show='vm.loginChecker()'>
	<a href='#/createrecipe' class='btn btn-success'>Create a recipe</a>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-9 text-center">
			<img src="images/logo.png" class="frontlogo">
			<div>
				<recipe-list></recipe-list>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card-container">
				<div class="card">
					<div class="front">
						<div class="cover">
						 <img src="{{vm.randomRecipe.imgUrl}}">
						</div>
						<div class="content">
							<div class="main">
								<h3 class="name">Recipe Of The day</h3>
								<p class="profession">{{vm.randomRecipe.title}}</p>

								<p class="text-center">"Get a new recipe each day"</p>
							</div>
							<div class="footer">
								<div class="rating">
									<i class="fa fa-mail-forward"></i> Hover for Recipe Directions
								</div>
							</div>
						</div>
					</div>
					<!-- end front panel -->
					<div class="back">
						<div class="header">
							<h5 class="motto">{{vm.randomRecipe.title}}</h5>
						</div>
						<div class="content">
							<div class="main">
								<h6 class="text-center">Ingredients</h6>
								<div class="text-center"
									ng-repeat="ri in vm.randomRecipe.recipeIngredients">{{ri.quantity}}
									{{ri.ingredient.name}}</div>

								<div class="text-left">
									<div class="container"></div>
								</div>
								<div class="footer">
									<!-- Trigger the modal with a button -->
									<button type="button" class="btn btn-lg btn-success"
										data-toggle="modal" data-target="#myModal">Instructions</button>



								</div>
							</div>
							<!-- end back panel -->
						</div>
						<!-- end card -->
					</div>
					<!-- end card-container -->

				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Recipe</h4>
					</div>
					<div class="modal-body">
						<ol>
							<li
								ng-repeat="i in vm.randomRecipe.instructions | orderBy: 'stepNum'">{{i.text}}</li>
						</ol>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>

			</div>
		</div>

	</div>