.loginalert {
	color: red;
}
input[type="button"] {
	
}
.recipecard {
	background: none repeat scroll 0 0;
	background-color : white; 
	border: solid;
	border-color : #b3947b;
    border-radius: 4px;
    margin: 12px;
    color: #292929;
    text-align: center;
	position: relative;
}
.mybutton {
	background-color: rgba(208, 183, 141, 0.94);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
}
.mybutton:hover{
	background-color: rgba(163, 144, 110, 0.94);
}
.daybutton{
	background-color: #999999;
	border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
}
.daybutton:hover {
    background-color: #484848;
}
#rightShow {
	border-style: solid;
	background-color: #292929;
	border-radius: 6px;
}
#reviewSubmit {
	margin-bottom: 6px;
}
#reviewButt {
	background-color: #9bff89;
}

.bodybackground{
	background-color: rgba(248, 237, 200, 0.24);
}
#list-ingredients {
	list-style: none;
	text-align: justify;
}
.frontlogo{
	width: 25em;
}
.cardpicture{
	vertical-align: middle;
    margin-top: 4px;
}
.logo{
	width: 4em;	
}
.recipeimage{
	width: 4em;
}
.errors {
	font-size:150%;
  color: red;
}
.warning {
	font-size:200%;
  background-color: yellow;
}
.safe {
	font-size:200%;
  background-color: green;
}

.btn-sm{

	    margin-top: 10px;
}

.done{
	text-decoration: line-through;
	color:gray;
}

body{padding-top: 60px;}

.navi
{
padding-top: 15px;
}

.navbar{
	background-color: rgba(131, 204, 205,1.0);
}

.notDone{
	
}

.thumbnail {
	width: 10em;
}

.card-container {
        perspective: 800px;
        margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
    transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
    transform: none;
}
/* flip speed goes here */

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ffc798;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
		-webkit-transform: rotateY( 180deg );
   -moz-transform: rotateY( 180deg );
     -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
        z-index: 3;
}

.back .btn-simple{
    position: absolute;
    left: 0;
    bottom: 4px;
}
/*        Style       */


.card{
    background: none repeat scroll 0 0 #ffc798;
    margin: 12px;
    color: #292929;
    text-align: center;
    transition: transform 1.95s;
    transform-style: preserve-3d;
	position: relative;
}
.card-container, .front, .back {
	width: 100%;
	height: 420px;
	border-radius: 4px;
}
.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 160px;
}
.card .back .content .main {
    height: 215px;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #4c4c4c;
    text-align: center;
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #4c4c4c;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}
.card .footer .social-links{
    font-size: 18px;
}
.card .footer .social-links a{
    margin: 0 7px;
}
.card .footer .btn-simple{
    margin-top: -6px;
}
.card .header {
    padding: 15px 20px;
    height: 90px;
}
.card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.card .stats-container{
	width: 100%;
	margin-top: 50px;
}
.card .stats{
	display: block;
	float: left;
	width: 33.333333%;
	text-align: center;
}

.card .stats:first-child{
	border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
	border-left: 1px solid #EEEEEE;
}
.card .stats h4{
	font-weight: 300;
	margin-bottom: 5px;
}
.card .stats p{
	color: #777777;
}

.list-recipes .btn {
	position: absolute;
	right: 0;
	color: #D34747;
}
